@media(max-width:767px){
  .navbar-nav {
    width:100%;
    padding:15px;
    margin:0px;
    li {
      width:100%;
      display:block;
      margin-bottom:10px;
      text-align:center;
    }
    &:last-child {
      margin-bottom:0px;
    }
    .nav-img {
      border:1px solid #fff;
    }
  }
  .nav-img{
    a {
      span {
        display:block;
      }
      img {
        display:none;
      }
    }
  }
  .s_c_form {
    button {
      width:100%;
    }
  }
  body {
    padding-top:75px !important
  }
  .headerText_slider {
    font-size:30px !important;
    top:-33px !important;

  }
}
@media(max-width:992px){
  li.navbar-nav {
    padding:15px 6px !important;
  }
  .container {
    width:auto;
  }
  .s_f_box>div>span {
    text-align:center;
  }
  .s_o_b_header {
    text-align:center;
  }
  .text_left,.text_right {
    text-align:center;
  }
  .name_page{
    font-size:24px !important;
    margin-top:12px;
  }
}
@media(max-width:1218px){
}
@media(max-width:1400px){
}
@media(max-width:1545px){
}
