<template name="footer">
  <footer>
    <section id="s_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 s_f_box">
            <div class="row">
              <div class="col-md-6">
                <div class="row text_left">
                  <span>© 2015 - Zakaz kopiowania treści materiałów zgromadzonych na stronie</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row text_right">
                  <span>Projekt i wykonanie : <span class="s_f_thunderpro">ThunderPro</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>
