<template name="modals">
  <section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog s_m_dialog">
        <div class="modal-content s_m_content">
          <div class="modal-header s_m_header">
            <button type="button" class="close s_m_h_close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
            <h4 class="modal-title s_m_title" id="myModalLabel">Tytuł okienka pop-up</h4>
          </div>
          <div class="modal-body s_m_body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="modal-footer s_m_footer">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
