<template name="work">
  <section id="s_work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 s_w_title">
          <p>MOJA PRACA</p>
          <hr class="defaultSeparator"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="s_w_box">
            <div class="s_w_b_header">
              <div class="col-md-12"><i class="fa fa-commenting-o fa-5x"></i></div>
              <div class="col-md-12"><p>JAVA SCRIPT</p></div>
            </div>
            <div class="s_w_b_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="but_absolute col-md-12">
              <button class="default-button" data-toggle="modal" data-target="#myModal">Czytaj dalej <i class="fa fa-rocket"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="s_w_box">
            <div class="s_w_b_header">
              <div class="col-md-12"><i class="fa fa-commenting-o fa-5x"></i></div>
              <div class="col-md-12"><p>JAVA SCRIPT</p></div>
            </div>
            <div class="s_w_b_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="but_absolute col-md-12">
              <button class="default-button" data-toggle="modal" data-target="#myModal">Czytaj dalej <i class="fa fa-rocket"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="s_w_box">
            <div class="s_w_b_header">
              <div class="col-md-12"><i class="fa fa-commenting-o fa-5x"></i></div>
              <div class="col-md-12"><p>JAVA SCRIPT</p></div>
            </div>
            <div class="s_w_b_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="but_absolute col-md-12">
              <button class="default-button" data-toggle="modal" data-target="#myModal">Czytaj dalej <i class="fa fa-rocket"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="s_w_box">
            <div class="s_w_b_header">
              <div class="col-md-12"><i class="fa fa-commenting-o fa-5x"></i></div>
              <div class="col-md-12"><p>JAVA SCRIPT</p></div>
            </div>
            <div class="s_w_b_content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="but_absolute col-md-12">
              <button class="default-button" data-toggle="modal" data-target="#myModal">Czytaj dalej <i class="fa fa-rocket"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
